<h1>Categories</h1>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-primary"><a href="link">Mac</a></button>
  <button type="button" class="btn btn-primary"><a href="link">Iphone</a></button>
  <button type="button" class="btn btn-primary"><a href="link">Accessories</a></button>
</div>
