<h1>Categories</h1>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-primary"><a href="http://localhost:3000/categories/1/items">Mac</a></button>
  <button type="button" class="btn btn-primary"><a href="http://localhost:3000/categories/2/items">Iphone</a></button>
  <button type="button" class="btn btn-primary"><a href="http://localhost:3000/categories/3/items">Accessories</a></button>
</div>
